<div>
  <div class="container mx-auto">
    <div class="galery">
      <div
        *ngFor="let image of images; let i = index"
        [style.gridRow]="image.row"
        [style.gridCol]="image.col"
        class="image"
      >
        <img [src]="image.url" (click)="selectedImage = i" />
        <span>+</span>
      </div>
    </div>
  </div>
</div>

<app-galery-carousel
  *ngIf="selectedImage !== null"
  (closeCarousel)="selectedImage = null!"
  [images]="images"
  [selectedImage]="selectedImage"
></app-galery-carousel>
