<div class="footer-wrapper">
  <div class="footer">
    <div class="desc">
      <a routerLink="/">
        <img [src]="dimensions" alt="dimensions" width="120" height="50" />
      </a>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s,
      </p>
    </div>
    <div class="flex justify-center">
      <ul>
        <li class="text-center list-name mb-6">Documentations</li>
        <li class="p-2 flex cursor-pointer my-2">
          <img [src]="arrow" alt="arrow" class="arrow" />
          <a href="https://ru.reactjs.org/" class="list-info pl-2">React</a>
        </li>
        <li class="p-2 flex cursor-pointer my-2">
          <img [src]="arrow" alt="arrow" class="arrow" />
          <a href="https://angular.io/" class="list-info pl-2">Angular</a>
        </li>
        <li class="p-2 flex cursor-pointer my-2">
          <img [src]="arrow" alt="arrow" class="arrow" />
          <a href="https://www.javascript.com/" class="list-info pl-2"
            >JavaScript</a
          >
        </li>
      </ul>
    </div>
    <div class="flex justify-center">
      <ul>
        <li class="text-center list-name mb-6">Follow Us</li>
        <li class="p-2 flex cursor-pointer my-2">
          <img [src]="facebook" alt="facebook" class="net" />
          <a href="https://www.facebook.com/" class="list-info pl-2"
            >Facebook</a
          >
        </li>
        <li class="p-2 flex cursor-pointer my-2">
          <img [src]="instagram" alt="instagram" class="net" />
          <a href="https://www.instagram.com" class="list-info pl-2"
            >Instagram</a
          >
        </li>
        <li class="p-2 flex cursor-pointer my-2">
          <img [src]="linkedin" alt="linkedin" class="net" />
          <a href="https://www.linkedin.com" class="list-info pl-2">Linkedin</a>
        </li>
      </ul>
    </div>
    <div class="flex justify-center">
      <ul>
        <li class="text-center list-name mb-6">Contact Us</li>
        <li class="p-2 flex my-2">
          <img [src]="adress" alt="adress" class="contact" />
          <p class="list-info pl-2 w-[200px] lg:w-full">
            Kolathur ramankulam- Malappuram Dt Kerala 679338
          </p>
        </li>
        <li class="p-2 flex my-2">
          <img [src]="phone" alt="phone" class="contact" />
          <p class="list-info pl-2">+373 767 98 98 98</p>
        </li>
        <li class="p-2 flex my-2">
          <img [src]="mail" alt="mail" class="contact" />
          <p class="list-info pl-2">proto-mail@mail.ru</p>
        </li>
      </ul>
    </div>
  </div>
</div>
