<div class="wrapper-header pb-1">
  <div class="header flex my-2 w-[80%]">
    <div class="burger-links flex justify-center items-center mr-5">
      <img
        [src]="bullet_points"
        alt="bullet_points"
        class="cursor-pointer z-20"
        (click)="toggleBurgerMenu()"
      />
      <div
        class="wrapper-burger"
        *ngIf="isBurgerMenuOpen"
        (click)="wrapperMenu()"
      ></div>
      <div class="absolute burger-menu" *ngIf="isBurgerMenuOpen">
        <ul class="links">
          <li style="--clr: #00ade1">
            <a
              routerLink="/"
              class="mx-2 px-8 py-1"
              (click)="isBurgerMenuOpen = false"
              data-text="&nbsp;&nbsp;Home"
              >&nbsp;&nbsp;Home</a
            >
          </li>
          <li style="--clr: #ff6493">
            <a
              routerLink="/about"
              class="mx-2 px-8 py-1"
              (click)="isBurgerMenuOpen = false"
              data-text="&nbsp;&nbsp;About"
              >&nbsp;&nbsp;About</a
            >
          </li>
          <li style="--clr: #ffdd1c">
            <a
              routerLink="/intList"
              class="mx-2 px-8 py-1"
              (click)="isBurgerMenuOpen = false"
              data-text="&nbsp;&nbsp;Popular&nbsp;designers"
              >&nbsp;&nbsp;Popular&nbsp;designers&nbsp;&nbsp;&nbsp;&nbsp;</a
            >
          </li>
          <li style="--clr: #00dc82">
            <a
              routerLink="/extList"
              class="mx-2 px-8 py-1"
              (click)="isBurgerMenuOpen = false"
              data-text="&nbsp;&nbsp;Online&nbsp;Store"
              >&nbsp;&nbsp;Online&nbsp;Store&nbsp;&nbsp;</a
            >
          </li>
          <li style="--clr: #dc00d4">
            <a
              routerLink="/galery"
              class="mx-2 px-8 py-1"
              (click)="isBurgerMenuOpen = false"
              data-text="&nbsp;&nbsp;Gallery"
              >&nbsp;&nbsp;Gallery&nbsp;</a
            >
          </li>
          <li style="--clr: #006491">
            <a
              routerLink="/contacts"
              class="mx-2 px-8 py-1"
              (click)="isBurgerMenuOpen = false"
              data-text="&nbsp;&nbsp;Contacts"
              >&nbsp;&nbsp;Contacts&nbsp;</a
            >
          </li>
        </ul>
      </div>
    </div>
    <a routerLink="/" class="cursor-pointer flex items-center">
      <img [src]="proto" alt="proto" class="logo" width="120" />
    </a>
    <div class="links flex ml-9 w-[100%]">
      <ul class="flex items-center">
        <li style="--clr: #00ade1">
          <a
            routerLink="/"
            class="mx-2 px-4 py-1 home"
            data-text="&nbsp;&nbsp;Home"
            >&nbsp;&nbsp;Home</a
          >
        </li>
        <li style="--clr: #ff6493">
          <a
            routerLink="/about"
            class="mx-2 About"
            data-text="&nbsp;&nbsp;About"
            >&nbsp;&nbsp;About</a
          >
        </li>
        <li style="--clr: #ffdd1c">
          <a
            routerLink="/intList"
            class="mx-2 list-1"
            data-text="&nbsp;&nbsp;Popular&nbsp;designers"
            >&nbsp;&nbsp;Popular&nbsp;designers&nbsp;&nbsp;&nbsp;&nbsp;</a
          >
        </li>
        <li style="--clr: #00dc82">
          <a
            routerLink="/extList"
            class="mx-2 list-2"
            data-text="&nbsp;&nbsp;Online&nbsp;Store"
            >&nbsp;&nbsp;Online&nbsp;Store&nbsp;&nbsp;</a
          >
        </li>
        <li style="--clr: #dc00d4">
          <a
            routerLink="/galery"
            class="mx-2 Galery"
            data-text="&nbsp;&nbsp;Gallery"
            >&nbsp;&nbsp;Gallery&nbsp;</a
          >
        </li>
        <li style="--clr: #006491">
          <a
            routerLink="/contacts"
            class="mx-2 Contact"
            data-text="&nbsp;&nbsp;Contacts"
            >&nbsp;&nbsp;Contacts&nbsp;</a
          >
        </li>
      </ul>
      <div
        class="wrapper-burger bg-slate-600"
        *ngIf="isMenuOpen"
        (click)="wrapperMenu()"
      ></div>
      <div class="menu-links relative">
        <img [src]="points" alt="points" (click)="toggleMenu()" />
        <div
          class="absolute top-12 right-0 w-[280px] py-3 shadow-lg rounded-bl-xl rounded-br-xl z-50 bg-white"
          *ngIf="isMenuOpen"
        >
          <ul class="flex flex-col items-center justify-center">
            <li style="--clr: #ffdd1c">
              <a
                routerLink="/intList"
                class="mx-2 px-8 py-1 list-1-menu hidden"
                (click)="isMenuOpen = false"
                data-text="&nbsp;&nbsp;Popular&nbsp;designers"
                >&nbsp;&nbsp;Popular&nbsp;designers&nbsp;&nbsp;&nbsp;&nbsp;</a
              >
            </li>
            <li style="--clr: #00dc82">
              <a
                routerLink="/extList"
                class="mx-2 px-8 py-1 list-2-menu hidden"
                (click)="isMenuOpen = false"
                data-text="&nbsp;&nbsp;Online&nbsp;Store"
                >&nbsp;&nbsp;Online&nbsp;Store&nbsp;&nbsp;</a
              >
            </li>
            <li style="--clr: #dc00d4">
              <a
                routerLink="/galery"
                class="mx-2 px-8 py-1 Galery-menu hidden"
                (click)="isMenuOpen = false"
                data-text="&nbsp;&nbsp;Gallery"
                >&nbsp;&nbsp;Gallery&nbsp;</a
              >
            </li>
            <li style="--clr: #006491">
              <a
                routerLink="/contacts"
                class="mx-2 px-8 py-1 Contact-menu hidden"
                (click)="isMenuOpen = false"
                data-text="&nbsp;&nbsp;Contacts"
                >&nbsp;&nbsp;Contacts&nbsp;</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="login flex px-5 items-center">
        <div class="flex items-center cursor-pointer mx-1 px-2">
          <img [src]="login" alt="login" class="w-[25px] h-[25px]" />
          <a routerLink="/login" class="p-1">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
