@import "../../../assets/fonts/fonts"

.pre-info
  & h1
    @include Besley_900
    @include adaptiv-font(48, 24)
  & p
    @include Besley_500
    @include adaptiv-font(20, 10)

.content-info, .content-form
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1)
  min-height: 100px

.content-info
  padding: 60px
  margin: 25px
  border-top-left-radius: 175px
  border-bottom-right-radius: 175px
  & .img-1, & .img-2, & .img-3
    width: 75px
    object-fit: cover
    &:hover
      filter: invert(52%) sepia(89%) saturate(816%) hue-rotate(348deg) brightness(101%) contrast(101%)
      transition: .5s
  & h3
    color: $orange
    @include Besley_700
    @include adaptiv-font(24, 12)
  & p
    @include Besley_500
    @include adaptiv-font(16, 8)
    &:hover
      color: $orange
      transition: .3s
  & h4
    @include Besley_700
    @include adaptiv-font(24, 12)

.imbBx-1:hover .img-1
  filter: invert(52%) sepia(89%) saturate(816%) hue-rotate(348deg) brightness(101%) contrast(101%)
  transition: .3s
.imbBx-2:hover .img-2
  filter: invert(52%) sepia(89%) saturate(816%) hue-rotate(348deg) brightness(101%) contrast(101%)
  transition: .3s
.imbBx-3:hover .img-3
  filter: invert(52%) sepia(89%) saturate(816%) hue-rotate(348deg) brightness(101%) contrast(101%)
  transition: .3s

.content-form
  padding: 60px
  margin: auto
  border-top-right-radius: 175px
  border-bottom-left-radius: 175px
  & h2
    @include adaptiv-font(32, 16)
    color: #333
    @include Besley_700
  & .inputBox
    position: relative
    width: 100%
    margin-top: 20px
  & .inputBox:nth-child(1)
    @media (max-width: 620px)
      flex-direction: column
      & h2
        margin-bottom: 15px
  & input, textarea
    width: 100%
    padding: 5px 0
    font-size: 1.1em
    margin: 10px 0
    border: none
    border-bottom: 2px solid #333
    outline: none
    resize: none
  & span
    position: absolute
    left: 0
    pointer-events: none
    padding: 5px 0
    margin: 10px 0
    @include adaptiv-font(20, 10)
    color: #666
    transition: .5s
    @include Besley_500
  & input:focus ~ span, textarea:focus ~ span, input:valid ~ span, textarea:valid ~ span
    color: $orange
    font-size: 0.9em
    transform: translateY(-20px)
  & input:focus, textarea:focus, input:valid, textarea:valid
    border-bottom: 2px solid $orange
    transition: .5s

.submit-btn
  position: relative
  & input
    max-width: 175px
    width: 100%
    background: transparent
    color: #333
    cursor: pointer
    padding: 5px 50px
    @include adaptiv-font(24, 12)
    @include Besley_700
    position: relative
    letter-spacing: 0.1em
    text-decoration: none
    text-transform: uppercase
    border: none !important
    z-index: 1
    &:hover
      box-shadow: 0 0 35px $orange
      border: 2px solid $orange !important
      color: $orange
    &::before
      content: ''
      position: absolute
      inset: 2px
      background: #27282c
  & i
    position: absolute
    inset: 0
    display: block
    &::before
      content: ''
      position: absolute
      width: 10px
      height: 10px
      background: $white
      border: 2px solid $orange
      top: 6px
      left: 100%
      transform: translateX(-50%)
      z-index: 1
      transition: .5s
    &::after
      content: ''
      position: absolute
      width: 10px
      height: 10px
      background: $white
      border: 2px solid $orange
      bottom: 6px
      left: 0
      transform: translateX(-50%)
      z-index: 1
      transition: .5s
  &:hover i::before
    left: 0%
    transform: translateX(-50%) rotate(45deg)
    box-shadow: 41px 39px $orange
  &:hover i::after
    left: 100%
    transform: translateX(-50%) rotate(-45deg)
    box-shadow: 41px -39px $orange

.connect-with-us
  & ul
    height: 100%
  & ul li
    position: relative
    margin: 0 20px
    cursor: pointer
    & a .fab
      font-size: 3em
      color: #222
      height: 100%
      min-height: 65px
      align-items: center
      display: flex
    &::before
      font-family: fontAwesome
      position: absolute
      top: 0
      left: 0
      font-size: 3em
      height: 0
      overflow: hidden
      transition: 0.5s ease-in-out
    &:nth-child(1)::before
      content: '\f099'
      color: #1da1f2
      border-bottom: 4px solid #1da1f2
      pointer-events: none
    &:nth-child(2)::before
      content: '\f232'
      color: #25d366
      border-bottom: 4px solid #25d366
      pointer-events: none
    &:nth-child(3)::before
      content: '\f167'
      color: #ff0000
      border-bottom: 4px solid #ff0000
      pointer-events: none
    &:hover::before
      height: 100%
      position: absolute
      top: -3px
      left: 0

@media (max-width: 620px)
  .connect-with-us, .contact-address
    flex-direction: column
    & h4
      margin: 0 0 10px 0
  .content-info, .content-form
    padding: 50px
  .connect-with-us
    & ul li
      margin: 0 10px
    & ul li a .fab
      font-size: 2em
      min-height: 42px
    & ul li::before
      font-size: 2em
  .content-info
    & .img-1, & .img-2, & .img-3
      width: 35px
