<div class="">
  <div class="container mx-auto">
    <h1 class="flex justify-center items-center py-5">
      {{ title | uppercase }}
    </h1>
    <div class="grid grid-cols-3">
      <div class="flex items-center flex-col">
        <img [src]="address" alt="address" width="75px" />
        <h3>address</h3>
        <div class="flex items-center flex-col mt-2">
          <h4>875 W. Summit Ave</h4>
          <p>Bozeman, MT 59715</p>
          <p>Richardson, MT 23715</p>
        </div>
        <div class="flex items-center flex-col mt-2">
          <h4>418 8th Street</h4>
          <p>Meadville, PA 16335</p>
        </div>
        <div class="flex items-center flex-col mt-2">
          <h4>5 S. Brickyard Street</h4>
          <p>Klamath Falls, MA 01970</p>
          <p>Richardson, MA 45370</p>
          <p>Salem, MA 02370</p>
        </div>
        <div class="flex items-center flex-col mt-2">
          <h4>Charlotte</h4>
          <p>Kooter Lane</p>
          <p>3710 Foley Street</p>
        </div>
        <div class="flex items-center flex-col mt-2">
          <h4>Fort Lauderdale</h4>
          <p>Smith Street</p>
          <p>3934 Heavens Way</p>
          <p>Horseshoe Lane</p>
        </div>
      </div>
      <div class="flex items-center flex-col">
        <img [src]="phone" alt="phone" width="75px" />
        <h3>phone</h3>
        <div class="flex items-center flex-col mt-2">
          <h4>Summit Central</h4>
          <p>484-424-5195</p>
          <p>610-613-5119</p>
          <p>201-479-6338</p>
          <p>908-670-2727</p>
        </div>
        <div class="flex items-center flex-col mt-2">
          <h4>875 W. Summit Ave</h4>
          <p>484-424-5195</p>
          <p>610-613-5119</p>
        </div>
        <div class="flex items-center flex-col mt-2">
          <h4>418 8th Street</h4>
          <p>717-303-7371</p>
        </div>
        <div class="flex items-center flex-col mt-2">
          <h4>5 S. Brickyard Street</h4>
          <p>267-349-5187</p>
          <p>504-328-8726</p>
        </div>
        <div class="flex items-center flex-col mt-2">
          <h4>Charlotte</h4>
          <p>504-239-7627</p>
          <p>857-250-6590</p>
        </div>
        <div class="flex items-center flex-col mt-2">
          <h4>Fort Lauderdale</h4>
          <p>508-745-4025</p>
          <p>865-980-1514</p>
          <p>865-724-4264</p>
        </div>
        <div class="flex items-center flex-col mt-2">
          <h4>Fort support</h4>
          <p>605-994-0274</p>
          <p>605-319-7307</p>
          <p>265-734-4566</p>
        </div>
      </div>
      <div class="flex items-center flex-col">
        <img [src]="email" alt="email" width="75px" />
        <h3>email</h3>
        <div class="flex items-center flex-col mt-2">
          <h4>875 W. Summit Ave</h4>
          <p>namazi@goliszek.net</p>
          <p>willyblu@icmarottabasile.it</p>
        </div>
        <div class="flex items-center flex-col mt-2">
          <h4>Charlotte</h4>
          <p>beinhauer@illinoisscno.org</p>
          <p>fixay50s@areo.ru</p>
        </div>
        <div class="flex items-center flex-col mt-2">
          <h4>Fort Lauderdale</h4>
          <p>udbgcsl@areosur.org</p>
          <p>fixayTesla@mir.com</p>
          <form class="form-contact flex items-center flex-col">
            <h4>Send Message</h4>
            <input type="text">
            <input type="text">
            <input type="text">
            <button>Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="h-[200px] flex justify-center">
    <img [src]="waves" alt="waves" class="w-[80%] h-[100%]" />
  </div>
</div>
