<div class="wrapper">
  <section class="container mx-auto find-more">
    <div class="flex justify-between p-4 panel">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
        doloribus.
      </div>
      <a routerLink="/about" class="cursor-pointer"
        ><span>{{ button | titlecase }}</span
        ><i></i
      ></a>
    </div>
  </section>
  <section class="container mx-auto">
    <div class="partner pt-8 relative h-[250px]">
      <div class="absolute left-0 right-0">
        <div class="grid sm:grid-cols-4 grid-cols-2 partner-date">
          <div class="sm:col-span-1 col-span-2 text-center sm:text-left">
            <h1>What awaits you</h1>
            <h5 class="flex sm:justify-start justify-center">
              <img [src]="checked" alt="checked" class="mr-2" /> New fashion
            </h5>
            <h5 class="flex sm:justify-start justify-center">
              <img [src]="checked" alt="checked" class="mr-2" /> Quality service
            </h5>
            <h5 class="flex sm:justify-start justify-center">
              <img [src]="checked" alt="checked" class="mr-2" /> Stores all over
              the world
            </h5>
          </div>
          <div class="sm:col-span-3 col-span-2">
            <img [src]="fashion" class="rounded-lg" />
          </div>
        </div>
        <div
          class="grid lg:grid-cols-4 grid-cols-2 partner-info absolute rounded-lg"
        >
          <section>
            <div>
              <img [src]="clothes" />
              <h3>100,000+</h3>
              <p>Clothes</p>
            </div>
          </section>
          <section>
            <div>
              <img [src]="bags" />
              <h3>2,000+</h3>
              <p>Accessories</p>
            </div>
          </section>
          <section>
            <div>
              <img [src]="hairdresser" />
              <h3>150+</h3>
              <p>Stylists</p>
            </div>
          </section>
          <section>
            <div>
              <img [src]="shopping" />
              <h3>400+</h3>
              <p>Stores</p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section class="wrapper-product">
    <div class="container mx-auto">
      <div class="my-10 mx-4 product">
        <div class="pb-3">
          <h1>Real solutions for true connoisseurs of fashion</h1>
          <h2>Be stylish and unique</h2>
        </div>
        <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-0 gap-4">
          <div class="preview lg:pr-3 pr-0 relative">
            <div>
              <img [src]="maxresdefault" class="rounded-lg" />
            </div>
            <div class="absolute bottom-2 left-4">
              <a routerLink="/" class="flex items-center justify-center"
                >Try it for free <img [src]="forward" class="forward ml-5"
              /></a>
            </div>
          </div>
          <div class="grid sm:grid-cols-2 grid-cols-1 grid-rows-2 gap-3 parts">
            <div class="p-5 rounded-lg part relative">
              <div class="flex justify-end pb-2">
                <img [src]="uniform_school" width="50px" height="50px" />
              </div>
              <div class="pb-14">
                <h6>School uniform</h6>
                <h4>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Labore, cupiditate.
                </h4>
              </div>
              <div class="flex text-center pt-2 absolute bottom-4">
                <a routerLink="/" class="flex"
                  >See plans<img [src]="chevron" class="chevron ml-2"
                /></a>
              </div>
            </div>
            <div class="p-5 rounded-lg part relative">
              <div class="flex justify-end pb-2">
                <img
                  [src]="uniform_walk"
                  alt="wordpress"
                  width="50px"
                  height="50px"
                />
              </div>
              <div class="pb-14">
                <h6>Clothes for a walk</h6>
                <h4>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Aperiam saepe totam vel eius delectus, eveniet adipisci ex
                  sapiente distinctio reiciendis laudantium praesentium, dolorum
                  sint reprehenderit?
                </h4>
              </div>
              <div class="flex text-center pt-2 absolute bottom-4">
                <a routerLink="/" class="flex"
                  >See plans<img [src]="chevron" class="chevron ml-2"
                /></a>
              </div>
            </div>
            <div class="p-5 rounded-lg part relative">
              <div class="flex justify-end pb-2">
                <img
                  [src]="uniform_training"
                  alt="server"
                  width="50px"
                  height="50px"
                />
              </div>
              <div class="pb-14">
                <h6>Training uniform</h6>
                <h4>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quibusdam, cupiditate dolor? Quo amet temporibus dolorum!
                </h4>
              </div>
              <div class="flex text-center pt-2 absolute bottom-4">
                <a routerLink="/" class="flex"
                  >See plans<img [src]="chevron" class="chevron ml-2"
                /></a>
              </div>
            </div>
            <div class="p-5 rounded-lg part relative">
              <div class="flex justify-end pb-2">
                <img [src]="accesori" alt="backup" width="50px" height="50px" />
              </div>
              <div class="pb-14">
                <h6>Useful accessories</h6>
                <h4>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit,
                  magni.
                </h4>
              </div>
              <div class="flex text-center pt-2 absolute bottom-4">
                <a routerLink="/" class="flex"
                  >See plans <img [src]="chevron" class="chevron ml-2"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container mx-auto">
    <div
      class="grid lg:grid-cols-2 lg:gap-0 gap-3 grid-cols-1 mt-10 mb-4 mx-4 items-center galery"
    >
      <div>
        <h1>About our stores</h1>
        <h3 class="my-7 max-w-[700px]">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga
          eligendi mollitia corrupti tempore iure animi, blanditiis minus eos
          est perspiciatis quam deleniti ab voluptas repellendus soluta
          perferendis culpa natus, optio assumenda dolorem vero dolorum amet
          nisi quae? Accusamus, dolore, nobis iure et, perferendis odio ipsum
          modi eum praesentium delectus ducimus.
        </h3>
        <a routerLink="/about" class="cursor-pointer relative"
          >See more... <span class="text-3xl absolute">&raquo;</span></a
        >
      </div>
      <div class="flex justify-center">
        <img [src]="store" />
      </div>
    </div>
  </section>
</div>
